.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

table {
  width: 100%;
}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
}


section {
  display: table;
}
