<!-- <mat-card> -->
  <!-- <mat-card-title>Login</mat-card-title> -->
<!-- <mat-card-content> -->
<div class="row">
  <div class="col-md-12">
      <h1>Parola değiştirme ekranı</h1>
  </div>
  <div class="col-md-12">
    <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Şifre</mat-label>
          <input type="password" matInput placeholder="Lütfen mevcut şifrenizi giriniz." formControlName="password">
          <mat-error *ngIf="loginControls.password.invalid">{{GetValidationMessages(loginControls.password,"Mevcut Şifre")}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Yeni Şifre</mat-label>
          <input type="password" matInput placeholder="Lütfen yeni şifrenizi giriniz." formControlName="newpassword">
          <mat-error *ngIf="loginControls.newpassword.invalid">{{GetValidationMessages(loginControls.newpassword,"Yeni Şifre")}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Yeni Şifre (Terkar)</mat-label>
          <input type="password" matInput placeholder="Lütfen yeni şifrenizi tekrar giriniz." formControlName="newpassword1">
          <mat-error *ngIf="loginControls.newpassword1.invalid">{{GetValidationMessages(loginControls.newpassword1,"Yeni Şifre (Tekrar")}}</mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="info" class="error">
        {{ info }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary"
        [disabled]="loading"
        >
          <span   *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Güncelle</button>
      </div>

      </form>
  </div>
</div>

    <!-- </mat-card-content> -->
    <!-- </mat-card> -->
